    <!-- side nav -->
    <nav class="nav align-baseline">

      <div class="menu text-center align-middle"><i class="fas fa-angle-right"></i></div>

      <ul class="nav__list text-center">
        <li class="active" data-toggle="modal" data-target="#gridSystemModal">
          <a class="" href="#">
            <i class="fas fa-tasks"></i>
            <br>
            <span class="">+Tarefas</span>
          </a>
        </li>
        <li class="">
          <a class="">
            <i class="fas fa-filter"></i>
            <br>
            <span class="">+Pipeline</span>
          </a>
        </li>
        <li class="">
          <a class="" href="#">
            <i class="fas fa-user-friends"></i>
            <br>
            <span class="">Solicitar<br>Contato</span>
          </a>
        </li>
        <li class="">
          <a class="" href="#">
            <i class="fas fa-user-circle"></i>
            <br>
            <span class="">+Lead</span>
          </a>
        </li>
        <li class="">
          <a class="" href="#">
            <i class="fas fa-money-bill-wave"></i>
            <br>
            <span class="">+Aporte</span>
          </a>
        </li>
        <li class="nav__item nav__item-contact">
          <a class="nav__link nav__link-contact" href="#contact">
            <i class="fas fa-redo-alt"></i>
            <br>
            <span class="">Atualizar</span>
          </a>
        </li>
      </ul>
    </nav>
    